<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Our IT consulting make technology accessible.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Experience</h4>
                    <p class="text-muted">We are well-versed in a variety of technologies, networks, and databases. While our main strength is in our IT outsourcing for Python Django developers, we work with just about any technology that a small business would encounter. We use this expertise to help customers with small to mid-sized projects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">High ROI Software Solutions</h4>
                    <p class="text-muted">Investing in software development is tricky for many companies. Missed deadlines, blown budgets, and poor quality is too common in the field. With our IT consulting solutions, we identify what pays you the quickest returns for the least investments so you can focus on what you do best--running your business.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Satisfaction Guaranteed</h4>
                    <p class="text-muted">The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget, we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our IT consulting work. Ask us how we do this!</p>
                </div>
            </div>
        </div>
    </section>